*.py[co]
*.pyc
*.DS_*

# Packages
*.egg
*.egg-info
dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
__pycache__
.pytest_cache
.serverless
.requirements.zip
proxy_auth_plugin.zip

#pycharm 
*.xml
*.iml

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
envfiles
chromedriver
venv
practice_notebook
chromeprofile
.vscode
temp.css
newtemp.css
temp.html
charlotte_1.3
mongodb-volume
mongodb-volume-prod
defaultvueapp
caddy_data
.env
backend/datacollections/andersonteak/*
backend/datacollections/acme/*
backend/datacollections/winsome/*
backend/datacollections/intuitive/*
backend/datacollections/vifah/*
backend/datacollections/manhattan/*
backend/datacollections/art/*
!backend/datacollections/andersonteak/testproducts.xlsx
!backend/datacollections/andersonteak/testinventory.csv
notebook
crawlnaverdata.json
google-service-account.json