<div class="back-box">
  <a href="{{ blog.url }}" class="btn btn--banner">
    <span class="{{ settings.icon }}" aria-hidden="true">arrow_back</span>
    {{ 'blogs.article.back_to_blog' | t: title: blog.title }}
  </a>
</div>

{% schema %}
{
  "name": "t:sections.article_back_to_blog.name",
  "settings": []
}
{% endschema %}
