<footer class="password-page__footer" role="contentinfo" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="password-footer">
  <div class="wrapper">
    <ul class="inline-list text-center">
      <li>
        <span>{{ 'general.password_page.powered_by_shopify_html' | t: shopify: '' }}</span>
      </li>

      <li>
        <a class="shopify-link image-link" href="https://www.shopify.com/?ref=debutify&utm_campaign=theme-password" target="_blank" rel="nofollow" title="Create your own online store with Shopify">
          <img class="imgset lazyload radius-none"
          {%- render 'lazysizes', img: 'shopify_logo_whitebg.svg', img_type: 'svg', img_height: '24px' -%}
          alt="Shopify">
        </a>
      </li>

      <li>
        <a class="debutify-link image-link" href="https://debutify.com?utm_source={{ shop.domain }}&utm_medium=referral&utm_campaign=product-theme-footer-link" target="_blank" rel="nofollow" title="The World's #1 Free Shopify Theme">
          <img class="imgset lazyload radius-none"
          {%- render 'lazysizes', img: 'debutify-logo.svg', img_type: 'svg', img_height: '24px' -%}
           alt="Debutify">
        </a>
      </li>
    </ul>
  </div>
</footer>

{% schema %}
  {
    "name": "t:sections.password_footer.name",
    "class": "password-footer",
    "settings": [

    ]
  }
{% endschema %}
