
{% comment %} PLEASE DON'T MAKE CHANGES IN THIS FILE IT'S AFFECT THE CODE IF YOU NEED ANY HELP PLEASE CONTACT TO FLITS TEAM support@getflits.com {% endcomment %}
{% layout none %}

<div class="flits-content">
  {% render 'flits_capture_code' with 'module',template:'module_wishlist_content' %}
</div>
