<div id="CartModal" class="modal stacked-on-top-of-content ajaxcart--is-loading" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-medium overlay-content" aria-hidden="true" tabindex="-1">
      <div class="ajaxcart-loading">
        <span class="icon-spin text-secondary text-large" aria-hidden="true"></span>
      </div>

      <div id="CartContainer" class="flex full"></div>
    </div>
  </div>
</div>

<div class="overlay-modal overlay-backdrop"></div>