{%- if content_for_header contains 'debutify' and  settings.dbtfy_addtocart_animation -%}
  <div class="dbtfy dbtfy-addtocart_animation"
       data-animation-type="{{ settings.dbtfy_addtocart_animation_type }}"
       data-animation-interval="{{ settings.dbtfy_addtocart_animation_interval }}000"></div>
{%- endif -%}
