{%- if content_for_header contains 'debutify' and settings.dbtfy_quick_view -%}
  {%- if type == "container" -%}
    <div id="QuickViewContainer"
         class="dbtfy dbtfy-quick_view{% if settings.dbtfy_quick_view_hide_mobile %} small--hide{% endif %}"></div>
  {%- else -%}
    <div class="dbtfy dbtfy-quick_view">
      <!-- Quick view button -->
      <div class="grid-product__badge-{{ settings.icon_placement }}{% if settings.dbtfy_quick_view_hide_mobile %} small--hide{% endif %}">
        <button class="qv-icon btn btn-reveal-primary btn-square-xsmall"
                data-product-handle="{{ product.handle }}">
          <span class="btn__text">
            <span class="{{ settings.icon }}">remove_red_eye</span>
          </span>
        </button>
      </div>
    </div>
  {%- endif -%}
{%- endif -%}
