<div id="CartDrawer" class="drawer drawer--right overlay-content ajaxcart--is-loading" aria-hidden="true" tabindex="-1">
  <div class="ajaxcart-loading">
    <span class="icon-spin text-secondary text-large" aria-hidden="true"></span>
  </div>

  <div id="CartContainer" class="flex full"></div>
</div>

<div class="overlay-backdrop overlay-drawer"></div>
