<div class="toasts">
  <div class="toasts-group">
    {%- render "dbtfy-trial-over" -%}
    {%- render "dbtfy-addons-limit-reached" -%}
  </div>
</div>

<div class="overlay-backdrop overlay-toasts"></div>
