
<div class="rte product-tabs-{{product.id}}">
    <div class="product-metafields-tab">
        <div class="product-brand-wrapper">            
            <div class="warranty-row">
                {{product.metafields.my_fields.warranty}}
            </div>
        </div>
    </div>
</div>