{% comment %}
  Renders a ShopifyXR ("View in your space") button.

  Accepts:
    - model_id: {String} Model that should open when clicking the button.
    - multi: {Boolean} Button appears multiple times on the page

  Usage:
  {%- for media in product.media -%}
    {% include 'xr-button', model_id: media.id, multi: true %}
  {%- endfor -%}

  {% include 'xr-button', model_id: media.id, multi: false %}
{% endcomment %}

<button
  aria-label="{{ 'products.product.view_in_space_label' | t }}"
  class="btn btn--small full spacer-top product-single__view-in-space{% if multi %} product-single__view-in-space--multi{% endif %}"
  data-shopify-xr
  {% unless multi %}data-shopify-xr-single{% endunless %}
  data-shopify-model3d-id="{{ model_id }}"
  data-shopify-title="{{ product.title | escape }}"
  data-shopify-xr-hidden>
  {%- render 'svg-definitions' with 'model-xr' -%}
  <span class='product-single__view-in-space-text spacer-left-xs'>{{ 'products.product.view_in_space' | t }}</span>
</button>
